# general modules
Django>=3.2,<4.0
django-environ>=0.4
python-decouple
Pillow
djangorestframework

psycopg2-binary
pymysql
djangorestframework

# Third party modules
Markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
djoser